/* .App {
  /* text-align: center; */
/* }  */

.sidenav-trigger{
  color: white;
/* align-content: center!important; */

}

body{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./components/images/lelouvre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  /* color: white; */
  text-align: left
}

html,body{
  overflow: scroll!important;
  overflow: auto!important;
  scroll-behavior: smooth;
}
.margin-top{
  margin-top: 250px!important;
  /* margin-bottom: 250px!important; */
}
.page-footer{
  padding: 10px!important;
  background-color:transparent!important;
 
}
.footer-copyright{
  padding: 20px!important;
  text-align: center;
  /* background-color:transparent!important; */
 
}


html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}