/* .App {
  /* text-align: center; */
/* }  */

.sidenav-trigger{
  color: white;
/* align-content: center!important; */

}

body{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./components/images/lelouvre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  /* color: white; */
  text-align: left
}

html,body{
  overflow: scroll!important;
  overflow: auto!important;
  scroll-behavior: smooth;
}
.margin-top{
  margin-top: 250px!important;
  margin-bottom: 250px!important;
}
.page-footer{
  padding: 10px!important;
  background-color:transparent!important;
 
}
.footer-copyright{
  padding: 20px!important;
  text-align: center;
  /* background-color:transparent!important; */
 
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
