header {
    text-align: left!important;
  }
#home{
    z-index: -1
}

.container{
    z-index: 1;
}

#pyramid{
    opacity: 0;
}

.homeheader{
    color: aliceblue!important;
    margin-top: 110px!important;
    /* margin-bottom: 50px!important; */ 
}
/*  */