canvas{
    z-index: -1;
    position: absolute;
}

.container{
    z-index: 1;
}

#pyramid{
    opacity: 0;
}

h2{
    color: aliceblue;
    margin-bottom: 100px!important;
}
.margin-top{
    margin-top: 100px;
}