.profileheader {
    margin-bottom: 10px !important;
    text-align: center;
}

.break {
    padding: 20px !important;
    /* margin-bottom: 1000px!important; */
}

.white {
    background-color: white;
    padding: 20px !important;
    z-index: 1!important;;
}

.profile-avatar {
    width: 150px !important;
    text-align: center;
    height: 150px !important;
    margin: 0px !important;
}

.avatar-div {
    /* background-color: orange; */
    margin: 0px !important;
    position: relative;
    text-align: center;
    width: 50%;
}

.middle {
    position: absolute;
    top: 10%;
    /* text-align: center; */
    left: 52%;
}

.create {
    height: 100px !important;
    width: 100px !important;
    color: rgb(70, 68, 68);
}

.hidden {
    z-index: 10!important;;
}

button {
    margin: 10px !important;
}