body {
    text-align: left!important;
  }
  canvas{
    z-index: -1;
    position: absolute;
}

.container{
    z-index: 1;
}

#pyramid{
    opacity: 0;
}

.homeheader{
    color: aliceblue!important;
    margin-top: 70px!important;
    margin-bottom: 100px!important;
}
.margin-top{
    margin-top: 100px;
}