.exhibitheader{
    color: orange;
    margin-bottom: 10px!important;
}
.margin-top{
    margin-top: 10px;
}
.img-fav{
    width: 80px!important;
    height: 70px!important;;
}
button{
    margin-right: 10px!important;
    margin-left: 10px!important;
}